.#{$namespace}container{
	background: $tool-background-color;
	//@include box-shadow( 0 0 5px rgba(214,214,214,0.75) );
}
.#{$namespace}toolTitleNav{
	margin: 1em 0 0 0;
	padding: 0.5em 0;
	border-bottom: 1px solid $secondary-color;
	position: relative;
	@include box-shadow( 0 -2px 4px rgba(214,214,214,0.75) );

	.#{$namespace}toolTitleNav__title{
		color: $secondary-color;
		display: inline-block;
		font-size: 1.1em;
		width: calc(100% - 90px);
		margin: 0px;
		padding: 0 0.5em;
		& ~ .#{$namespace}directUrl__dropDown{
			display: none;
			&.active{
				padding: 0.8em;
				position:   absolute;
				display:    block;
				background: #FFF;
				width: 250px;
  				margin: 10px 0 0 -250px;
  				z-index: 2;
				@include box-shadow(0 0 5px 0 rgba(0,0,0,0.5));
				textarea{
					display: block;
					width: 98%;
					height: 50px;
				}
			}
		}
		a{
			border-bottom: 1px solid rgba($secondary-color, 0.5);
			color:  $secondary-color;
			margin-right: 0.25em;
			text-decoration: none;
			.#{$namespace}toolTitleNav__link{
				float: left;
				position: relative;
				top: 4px;
			}
		}
	}

	.#{$namespace}toolTitleNav__link{
		vertical-align: 0%;
		color: $secondary-color;
		text-decoration :none;
		margin-right: 0.25em;
		position: absolute;
		top: 11px;
		@include icon();
		&--directurl{
			@extend .fa;
			@extend .fa-link;
			@extend .fa-lg;
			position: absolute;
			right: #{$icon-size * 1.5};
		}
		&--help-popup{
			@extend .fa;
			@extend .fa-question;
			@extend .fa-lg;
			position: absolute;
			right: 0;
		}
		&--edit{
			@extend .fa;
			@extend .fa-pencil;
			@extend .fa-lg;	
			position: absolute;
			right: #{$icon-size * 3};
		}
		&--reset{
			@extend .fa;
			@extend .fa-share;
			@extend .fa-lg;	
			font-size: 0.9em;
			float: left;
		}
	}

}

.#{$namespace}toolBody{
	@include box-shadow( 0 0 5px rgba(214,214,214,0.75) );
	iframe{
		margin: 0 0 0 0;
		width: 100%;
	}
}

.portletBody{
	background: $tool-background-color;
	padding: $default-font-size $default-font-size 40px $default-font-size;
	@media #{$phone}{
		padding: 16px 16px 40px 16px;
	}
}
