.navIntraTool{
	margin: -14px -14px 0 -14px;
	background: $tool-background-color;
	border-bottom: 1px solid $tool-border-color;
	padding: 0 170px 0 1em;
	//max-width: calc(100% - 170px);
	@media #{$phone}{
		padding: 0.3em 0.7em;
		//max-width: 100%;
	}
	&:after{
		content: " ";
		display: block;
		width: 100%;
	}
	li{
		display: inline-block;
		margin: 0 0 0 0;
		span{
	 		@include sakai_button( $button-background-color, $button-border-color, $button-text-color, $button-background-secondary-color );
			&.current{
	 			@include sakai_button_color( $button-color-background-color, $button-color-border-color, $button-color-text-color, $button-color-background-secondary-color );
			}
			&.inactive{
				border-left: 0px none;
			}
			a{
				color: $button-text-color;
				text-decoration: none;
				&:hover{
					text-decoration: none;
				}
			}
		}
		a{
			color: $button-text-color;
			text-decoration: none;
			&:hover{
				text-decoration: none;
			}
			&.current{
	 			@include sakai_button_color( $button-color-background-color, $button-color-border-color, $button-color-text-color, $button-color-background-secondary-color );
			}
		}
		.searchField{
			
		}
	}
}

.instruction{
	@include bs-callout(#27ce7a, rgba(177, 223, 100, 0.26));
}

.listNav{
	margin: 1em 0;
	.inlineForm{
		display: inline-block;
		@media #{$phone}{
			display: table-cell;
			padding: 0.1em !important;
			&[name="pagesizeForm"]{
				text-align: center;
			}
			select{
				width: 100%;
			}
			input[type="submit"]{
				margin: 0 0 0 0;
				&[disabled="disabled"]{
					display: none;
				}
			}
		}
		legend{
			display: none;
		}
		
		fieldset{
			display:inline-block;
		}
	}
}

.viewNav{

}

.navPanel {
	.floatLeft {
		float: left;
		padding: 1em;
	}

	.floatRight {
		float: right;
	}
}
